body{
    color: #222;
    font-family: sans-serif;
}

.subjets{
    width: 90%;
    background: #ccc;
    padding: 2px;
    font-size: 20px;
}

.subjet{
    background: #efefef;
    display: flex;
}

.subjet div{
    padding: 20px;
}

.subjet .note{
    flex-basis: flex;
    background: #ddd;
    font-weight: 700;
}

.subjet .name{
    flex-grow: 1;
}